<ng-container *ngIf="courses?.length">
    <app-course-card
      *ngFor="let cardData of courses"
      [cardData]="cardData"
      (clickOnShow)="clickOnShow($event)"
      [editable]="editable">
        <div class="buttons" ngProjectAs="edit-buttons">
            <div class="edit">
                <app-button [iconName]="iconEnum.pencilAlt" (click)="edit(cardData.id)"></app-button>
            </div>
            <div>
                <app-button [iconName]="iconEnum.delete" (click)="remove(cardData.id)"></app-button>
            </div>
        </div>
    </app-course-card>
</ng-container>
<ng-container *ngIf="!courses?.length">
    <app-info title="Your List Is Empty"></app-info>
</ng-container>
