<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Input text"
          />
          <span
            *ngIf="name?.invalid && (name?.dirty || name?.touched)"
            class="text-danger"
          >
            Name is required and must be at least 6 characters long.
          </span>
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            placeholder="Input text"
          />
          <span
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            class="text-danger"
          >
            Email is required and should be valid.
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Input text"
          />
          <fa-icon
            [icon]="togglePassword.shown ? 'eye' : 'eye-slash'"
            appTogglePassword
            #togglePassword="togglePassword"
          ></fa-icon>

          <span
            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            class="text-danger"
          >
            Password is required and must be at least 6 characters long.
          </span>
        </div>
      </div>
      <div class="form__action">
        <app-button text="REGISTER" type="submit"></app-button>
      </div>
      <div class="form__text">
        If you already have an account you may <strong>Login</strong>
      </div>
    </div>
  </form>
</div>
