<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" #registrationF="ngForm" validate (ngSubmit)="registrationF.form.valid && registrate(registrationF)">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name" class="text-field__label">Name</label>
          <input type="text" id="name" formControlName="name" placeholder="Input text" class="text-field__input"
            [class.text-field__input__error]="registrationForm.controls['name'].invalid && registrationForm.controls['name'].touched" />
          <span id="nameErrorMessage" *ngIf="registrationForm.controls['name'].invalid && registrationForm.controls['name'].touched"
            class="text-danger">
            Name is required.
          </span>
        </div>
        <div class="form__control">
          <label for="email" class="text-field__label">Email</label>
          <input type="text" id="email" formControlName="email" placeholder="Input text" class="text-field__input"
            [class.text-field__input__error]="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched && registrationForm.controls['email'].errors?.['emailValidator']"
            emailValidator />
          <span id="emailErrorMessage"
            *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched && registrationForm.controls['email'].errors?.['emailValidator']"
            class="text-danger">
            Email is required.
          </span>
        </div>
        <div class="form__control">
          <label for="password" class="text-field__label">Password</label>
          <input type="password" id="password" formControlName="password" toggle placeholder="Input text"
            class="text-field__input"
            [class.text-field__input__error]="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched" />
          <span id="passwordErrorMessage" *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched"
            class="text-danger">
            Password is required.
          </span>
        </div>
      </div>
      <div class="form__action">
        <app-button buttonText="registrate" typeName="submit"></app-button>
      </div>
      <div class="form__text">
        If you have an account you may <strong class="log_reg" (click)="goToLogin()">Login</strong>
      </div>
    </div>
  </form>
</div>
