<div class="course-card">
  <div class="course-card__description">
    <div class="course-card__description-title">{{cardData.title}}</div>
    <div class="course-card__description-text">{{cardData.description}}</div>
  </div>
  <div class="course-card__info">
    <div class="course-card__info-text">
      <div>
        <b>Authors: </b>
        <span *ngFor="let author of cardData.authors">
          {{author}}
        </span>
      </div>
      <div><b>Duration: </b><span class="course-card__duration">{{cardData.duration }}</span></div>
      <div><b>Created: </b><span class="course-card__date">{{cardData.creationDate }}</span></div>
    </div>
    <div class="course-card__info-actions">
      <app-button (click)="clickOnShowHandler()"></app-button>
      <div class="course-card__buttons" *ngIf="editable">
        <ng-content select="edit-buttons"></ng-content>
      </div>
    </div>
  </div>
</div>
